html {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* headings */

h1 {
    text-align: center;
    font-size: 70px;
    box-shadow: 0 0 10px 20px darkkhaki;
}

header {
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

/* body styles */

body {
    background-color: blanchedalmond;
}

/* link style */

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 30px;
  display: flex;
  gap: 30px;
}

a:hover {
  color: #0056b3;              
  text-decoration: underline;  
}

/* class styles */

.link {
  padding-left: 830px;
}

.artists {
  margin-left: 660px;
  padding-bottom: 50px;
  margin-top: 20px;
}

/* text styles */

p {
    text-align: center;
    padding-top: 50px;
}

/* images style */

img {
  border-bottom: 2px solid rgb(231, 231, 146);
  border-bottom-width: 6px;
  border-top: 2px solid rgb(231, 231, 142);
  border-top-width: 6px;
  border-right: 10px solid lightgray;
  border-left: 10px solid lightgray;
  margin-bottom: -30px;
}


/* footer */

footer {
    border-top: 2px solid black;
}
