ul {
    display: flex;
    align-items: center; /* stretch */
    list-style-type: none;
    background-color: silver;
    gap: 20px;
    height: 90px;
}

li {
    background: #999;
    padding: 15px;
    text-align: center;
}

#home {
    align-self: flex-start;
}